* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    background: #ffff;
    color: black;
    background-color: yellow;
    background: url("https://images.unsplash.com/photo-1485802007047-7774de7208e5?dpr=1&auto=compress,format&fit=crop&w=1800&h") no-repeat center center fixed;
}


    


h1{
    padding-left: 52px;
    padding-top: 71px;
    padding-bottom: 53px;
    font-size: 40px;
}


.col-md-7{
    padding-left: 450px;
   
}

.Container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    
    
    height: 500px;
   
    }
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
   
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
 }

[type=button], [type=reset], [type=submit], button {
        -webkit-appearance: button;
 }
.text_center_button {
        justify-content: center;
}
.text_center_button {
justify-content: center;
}

.total_btn_cart {
        width: 100%;
        background: #ac1734 !important;
        border-color: #ac1734 !important;
        padding: 9px 19px !important;
        display: flex;
        justify-content: space-between;
        color: #fff;
        font-weight: 500;
        border-style: unset;
        font-family: "Montserrat", sans-serif;
        justify-content: center;
}